<!DOCTYPE html>
<html class="ui-mobile"><head><meta http-equiv="Content-Type" content="text/html; charset=GBK">

<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,maximum-scale=1, user-scalable=no">
<title>霍格英语学校</title>
<meta http-equiv="keywords" content="霍格英语">
<link rel="stylesheet" href="./resource/jquery.mobile-1.4.0.min.css">
<script src="./resource/jquery-2.1.3.min.js"></script>
<script src="./resource/jquery.mobile-1.4.0.min.js"></script>
<link href="./resource/style.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="./resource/swipe.js"></script>
</head>
<body class="index ui-mobile-viewport ui-overlay-a">
<div data-role="page" class="wrapper ui-page ui-page-theme-a ui-page-header-fixed ui-page-active"
	 data-url="/school-001" tabindex="0" style="padding-top: 50px; min-height: 636px;">
	<div data-role="header" class="header ui-header ui-header-fixed slidedown ui-bar-inherit" data-position="fixed" role="banner">
		<a class="navmenu_link ui-link ui-btn-left ui-btn ui-shadow ui-corner-all" href="http://140.143.29.186/#left-panel" data-role="button" role="button">菜单</a>
		<h1 class="ui-title" role="heading" aria-level="1">霍格英语</h1>
		<span class="bell"></span>
	</div>
	<div data-role="content" class="content ui-content" role="main">
		<div id="head_ad">
								</div>
		<div id="banner_box" class="box_swipe" style="visibility: visible;">
			<ul style="list-style: none; width: 6076.8px; transition-duration: 0ms; transform: translate3d(-3038.4px, 0px, 0px);">
								<li style="width: 1519.2px; display: table-cell; vertical-align: top;">
				<a data-ajax="false" href="http://140.143.29.186/" class="ui-link"><img alt="霍格英语" src="./resource/1496815321mmo1h.jpg"></a>
				</li>
								<li style="width: 1519.2px; display: table-cell; vertical-align: top;">
				<a data-ajax="false" href="http://140.143.29.186/" class="ui-link"><img alt="霍格英语" src="./resource/14968153025qknj.jpg"></a>
				</li>
								<li style="width: 1519.2px; display: table-cell; vertical-align: top;">
				<a data-ajax="false" href="http://140.143.29.186/" class="ui-link"><img alt="霍格英语" src="./resource/14968152801kyaj.jpg"></a>
				</li>
								<li style="width: 1519.2px; display: table-cell; vertical-align: top;">
				<a data-ajax="false" href="http://140.143.29.186/" class="ui-link"><img alt="霍格英语" src="./resource/1496815263svvhd.jpg"></a>
				</li>
							</ul>
			<ol>
				<li class=""></li>
				<li class=""></li>
			</ol>
			
			<script>
				$(function(){
					new Swipe(document.getElementById('banner_box'), {
						speed:500,
						auto:3000,
						callback: function(){
							var lis = $(this.element).next("ol").children();
							lis.removeClass("on").eq(this.index).addClass("on");
						}
					});
				});
			</script>
			
		</div>
		<div class="tel">
			<span>学习热线：</span><a data-ajax="false" href="tel:81183936" class="ui-link">81183936</a> <a data-ajax="false" href="tel:" class="ui-link"></a><i></i>
		</div>

		<div class="nav clearfix">
			<ul>
							<li class="mod_5"><a data-ajax="false" href="http://140.143.29.186/school-001/baoming.html" class="ui-link"><span>在线报名</span></a></li> 
							<li class="mod_3"><a data-ajax="false" href="http://140.143.29.186/school-001/album.html" class="ui-link"><span>学校相册</span></a></li>
							<li class="mod_2"><a data-ajax="false" href="http://140.143.29.186/school-001/course.html" class="ui-link"><span>学校课程</span></a></li> 
							<li class="docu_3"><a data-ajax="false" href="http://140.143.29.186/school-001/document-typeid-3.html" class="ui-link"><span>师资介绍</span></a></li> 
							<li class="docu_4"><a data-ajax="false" href="http://140.143.29.186/school-001/document-typeid-4.html" class="ui-link"><span>明星学员</span></a></li> 
							<li class="docu_6"><a data-ajax="false" href="http://140.143.29.186/school-001/document-typeid-6.html" class="ui-link"><span>精彩活动</span></a></li> 
							<li class="url_0"><a data-ajax="false" href="http://mp.weixin.qq.com/s/XxsQaW3Mi7FpzFeU3Uesiw" class="ui-link"><span>恩弗夏令营</span></a></li> 
							<li class="url_1"><a data-ajax="false" href="http://140.143.29.186/ap/ap.php?code=24367878" class="ui-link"><span>体验课付款</span></a></li> 
						</ul>
		</div>
		
	</div>
	<div data-role="footer" role="contentinfo" class="ui-footer ui-bar-inherit"><script type="text/javascript" src="./resource/jquery.cookie.js"></script>
<script type="text/javascript" src="./resource/adsense.js"></script>
<div id="center_ad">
		</div>

<div id="foot_ad">
		</div>
<!--div class="tech"><a data-role="none" data-ajax="false" href="http://140.143.29.186/am/up.php?id=666&amp;pid=1&amp;uid=24866&amp;part=index">由@育才堂 提供技术支持</a></div-->
<!--<div class="ui-attention">
	</div>-->
<link href="./resource/common.css" type="text/css" rel="stylesheet">
<div class="quick_nav ">
	<ul>
				<li class="qn_member">
			<div class="qn_txt">进入家校中心</div>
			<a data-ajax="false" href="http://140.143.29.186/ecenter/ec.php?uid=24866" class="ui-link"></a>
		</li>
				
		<li class="qn_tel">
			<div class="qn_txt">一键拨号</div>
			<a data-ajax="false" href="tel:52999132" class="ui-link"></a>
		</li>
		<li class="qn_qrcode">
			<div class="qn_txt">关注公众号</div>
			<span></span>
		</li>
				<li class="qn_toggle animated">
			<div class="qn_txt">收起</div>
			<span></span>
		</li>
	</ul>
</div>
<div class="qn_pop" id="qr_pop">
	<div class="qr_inner">
		<p>长按二维码，选择“<em class="">识别图中二维码</em>”，或搜索Enfusports即可关注我们。</p>
		<p><img src="./resource/1496218264lrc1b.jpg"></p>
	</div>
</div>

<div class="qn_pop" id="sh_pop">
	<div class="share_tips"><img src="./resource/share.png"></div>
</div>

<input type="hidden" id="openid" name="openid" value="">
<input type="hidden" id="uid" name="uid" value="24866">
<!--
<script src="https://sr.ntdsdc.com/template/m_spaces/common/christmas/jsized.snow.min.js?t"></script>
<script>
    createSnow('', 30);
</script>
-->

<script type="text/javascript">	
	$(".qn_toggle").click(function() {
		pare = $(this).parents(".quick_nav");
		if(pare.hasClass("opened")){
			pare.removeClass("opened");
			$(this).addClass("animated");
		}else{
			pare.addClass("opened");
			$(this).removeClass("animated");
		}		
	});
	$(".qn_qrcode span").click(function() {
		$("#qr_pop").show();
	});
	$(".qr_inner").click(function(event) {
		$("#qr_pop").show();
		event.stopPropagation();
	});
	$(".qn_collect span").click(function() {
		//$("#sh_pop").show();
		var submitData = {
			openid : $("#openid").val(),
			uid : $("#uid").val()
		}
        $.ajax({
            type: "POST",
            url: "xb_school_follow.php?sf=1",
            cache: false,
            data: submitData,
            success: function(data) {
				var data=eval("("+data+")");
				if(data.errcode == "0"){
					alert('收藏我们成功,您可以通过学宝公众号直接找到我们啦');
				}else{
					alert(data.errmsg);
				};
			},
			error: function(){//ajax发生错误时执行 
				alert('网络超时或数据请求出错！请检查网络连接情况。');
			}, 
		});			
	});
	$(".qn_pop").click(function() {
		$(this).hide();
	});
</script>
<div style="display:none">

</div></div> 
	<div data-role="panel" data-display="reveal" data-theme="a" id="left-panel" class="menu ui-panel ui-panel-position-left ui-panel-display-reveal ui-panel-closed ui-body-a ui-panel-animate">
	<div class="ui-panel-inner"><div class="logo">
		<div class="logo_img"><img src="./resource/pre_1496218345cedub.jpg" alt="恩弗英式橄榄球俱乐部" title="恩弗英式橄榄球俱乐部"></div>
		<p>恩弗英式橄榄球俱乐部</p>
	</div><ul>  
		<li class="select"><a data-ajax="false" href="http://140.143.29.186/school-001/" class="ui-link">首页</a></li>
				<li class="mod_5"><a data-ajax="false" href="http://140.143.29.186/school-001/baoming.html" class="ui-link"><span>在线报名</span></a></li> 
				<li class="mod_3"><a data-ajax="false" href="http://140.143.29.186/school-001/album.html" class="ui-link"><span>学校相册</span></a></li>
				<li class="mod_2"><a data-ajax="false" href="http://140.143.29.186/school-001/course.html" class="ui-link"><span>学校课程</span></a></li> 
				<li class="docu_3"><a data-ajax="false" href="http://140.143.29.186/school-001/document-typeid-3.html" class="ui-link"><span>师资介绍</span></a></li> 
				<li class="docu_4"><a data-ajax="false" href="http://140.143.29.186/school-001/document-typeid-4.html" class="ui-link"><span>明星学员</span></a></li> 
				<li class="docu_6"><a data-ajax="false" href="http://140.143.29.186/school-001/document-typeid-6.html" class="ui-link"><span>精彩活动</span></a></li> 
				<li class="url_0"><a data-ajax="false" href="http://mp.weixin.qq.com/s/XxsQaW3Mi7FpzFeU3Uesiw" class="ui-link"><span>恩弗夏令营</span></a></li> 
				<li class="url_1"><a data-ajax="false" href="http://140.143.29.186/ap/ap.php?code=24367878" class="ui-link"><span>体验课付款</span></a></li> 
			</ul></div>
	
</div></div>

<div id="path_cover" class="path_cover"></div>
<div id="path" class="path">
	<input id="path_btn" type="checkbox" name="" value="" class="path_nav">
	<div>
	   <a href="http://140.143.29.186/school-001/" data-ajax="false" class="icon-home"></a>
	</div>
	<div>
	   <a href="tel:52999132" class="icon-phone"></a>
	</div>
	<div>
	   <a href="http://140.143.29.186/school-001/contactus.html" data-ajax="false" class="icon-envelope"></a>
	</div>
	<div>
	  <a href="http://140.143.29.186/school-001/baoming.html" data-ajax="false" class="icon-edit"></a>
	</div>
</div>



<script type="text/javascript">
window.addEventListener("DOMContentLoaded", function(){
	btn = document.getElementById("path_btn");
	btn.onclick = function(){
		var divs = document.getElementById("path").querySelectorAll("div");
		var className = className=this.checked?"on":"";
		for(i = 0;i<divs.length; i++){
			divs[i].className = className;
		}
		document.getElementById("path_cover").style.display = "on" == className? "block":"none";
	}
}, false);
</script>
			<script src="./resource/jweixin-1.0.0.js"></script>
			<script>
			
			 wx.ready(function () {
			    wx.onMenuShareAppMessage({
			      title: '恩弗英式橄榄球俱乐部的微官网',
			      desc: '恩弗英式橄榄球俱乐部',
			      link: '',
			      imgUrl: 'http://140.143.29.186/attachment/face/201705/pre_1496218345cedub.jpg',
			      
			      trigger: function (res) {
			      },
			      success: function (res) { 
			      
			      },
			      
			      cancel: function (res) {
			        alert('很遗憾，您已取消分享');
			      },
			      fail: function (res) {
			        alert(JSON.stringify(res));
			      }
			    });
			
			    wx.onMenuShareTimeline({
			    
			      title: '恩弗英式橄榄球俱乐部的微官网',
			      link: '',
			      imgUrl: 'http://140.143.29.186/attachment/face/201705/pre_1496218345cedub.jpg',
			      
			      trigger: function (res) {	
			      
			      },
			      success: function (res) { 
			      },
			      
			      cancel: function (res) {
			         alert('很遗憾，您已取消分享');
			      },
			      fail: function (res) {
			        alert(JSON.stringify(res));
			      }
			      
			    });
			
			
			});
			<!--  -->
			</script>
<div class="ui-loader ui-corner-all ui-body-a ui-loader-default">
	<span class="ui-icon-loading"></span><h1>loading</h1>
</div>
<div class="ui-panel-dismiss" data-panelid="left-panel"></div>
</body>
</html>